.PanelHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Title {
  font-size: 24px;
  color: #333;
}

.Count {
  color: orange;
  font-weight: bold;
}
