.Container {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.GameList {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.Title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
