/* GameCard.module.css */

.card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 25px;
  color: #333;
}

.card p {
  font-size: 18px;
  color: #888;
}

.viewTeams {
  color: #007bff;
  cursor: pointer;
}
